# ****Análise Estatística e Machine Learning na Precificação de Carros Usados (OP1)****

### Instalndo os pacotes necessários
pip install -r rqts.txt

### Importando as Bibliotecas Necessárias

In [147]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
#import missingno as msno

### Lendo o DataSet

In [148]:
df = pd.read_csv('cars.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [149]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque',
       'seats'],
      dtype='object')

In [150]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [151]:
df = df.sample(frac=1)
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
669,Fiat Grande Punto Sport 90BHP,2013,400000,90000,Diesel,Individual,Manual,First Owner,20.3 kmpl,1248 CC,92 bhp,209Nm@ 2000rpm,5.0
1970,Volkswagen Ameo 1.5 TDI Comfortline AT,2017,625000,34000,Diesel,Individual,Automatic,First Owner,22.0 kmpl,1498 CC,108.495 bhp,250Nm@ 1500-3000rpm,5.0
6756,Hyundai Verna 1.6 CRDI,2011,360000,157000,Diesel,Individual,Manual,Second Owner,22.32 kmpl,1582 CC,126.3 bhp,259.9Nm@ 1900-2750rpm,5.0
7677,Hyundai Grand i10 AT Asta,2015,465000,63063,Petrol,Dealer,Automatic,First Owner,18.9 kmpl,1197 CC,82 bhp,114Nm@ 4000rpm,5.0
136,Mercedes-Benz S-Class S 350 CDI,2017,6000000,37000,Diesel,Dealer,Automatic,First Owner,13.5 kmpl,2987 CC,254.79 bhp,620Nm@ 1600-2400rpm,5.0

In [152]:
#organizando as colunas
ordem = []

### Adpatando os Dados

In [153]:
# Verificando a viabiliade de incluir a coluna de marca do carro na análise de regressão

def marcaCarro(nome):
    return nome.split(' ')[0]

marcas = []

for modelo in df['name'].array:
    marca = marcaCarro(modelo)
    if marca not in marcas:
        marcas.append(marca)


marcas.sort()
print(marcas)
print(len(marcas))

# Como existem 32 masrcas de carro, não consideremos viável incluir ela para o estudo de regressão

['Ambassador', 'Ashok', 'Audi', 'BMW', 'Chevrolet', 'Daewoo', 'Datsun', 'Fiat', 'Force', 'Ford', 'Honda', 'Hyundai', 'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land', 'Lexus', 'MG', 'Mahindra', 'Maruti', 'Mercedes-Benz', 'Mitsubishi', 'Nissan', 'Opel', 'Peugeot', 'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo']
32

In [154]:
# Verificar a

In [155]:
# Retirando a coluna'name'(que não influencia no valor)
df.drop((['name']),axis=1,inplace=True)

In [156]:
df.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
669,2013,400000,90000,Diesel,Individual,Manual,First Owner,20.3 kmpl,1248 CC,92 bhp,209Nm@ 2000rpm,5.0
1970,2017,625000,34000,Diesel,Individual,Automatic,First Owner,22.0 kmpl,1498 CC,108.495 bhp,250Nm@ 1500-3000rpm,5.0
6756,2011,360000,157000,Diesel,Individual,Manual,Second Owner,22.32 kmpl,1582 CC,126.3 bhp,259.9Nm@ 1900-2750rpm,5.0
7677,2015,465000,63063,Petrol,Dealer,Automatic,First Owner,18.9 kmpl,1197 CC,82 bhp,114Nm@ 4000rpm,5.0
136,2017,6000000,37000,Diesel,Dealer,Automatic,First Owner,13.5 kmpl,2987 CC,254.79 bhp,620Nm@ 1600-2400rpm,5.0

In [157]:
# Verificando dados duplicados e retirando-os

df[df.duplicated()].shape
df.drop_duplicates(inplace=True)
df.shape

(6907, 12)

In [158]:
# Verificando os dados Vazios
df.isnull().sum()

year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          208
engine           208
max_power        205
torque           209
seats            208
dtype: int64

In [159]:
# Os dados com valores vários representam apenas 3% da amosta, outra opçõa seria preencher os dados vazios com a média de todos os valores.
# Retirando valores nulos:
df = df.dropna()
df.shape

(6698, 12)

In [160]:
df.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
669,2013,400000,90000,Diesel,Individual,Manual,First Owner,20.3 kmpl,1248 CC,92 bhp,209Nm@ 2000rpm,5.0
1970,2017,625000,34000,Diesel,Individual,Automatic,First Owner,22.0 kmpl,1498 CC,108.495 bhp,250Nm@ 1500-3000rpm,5.0
6756,2011,360000,157000,Diesel,Individual,Manual,Second Owner,22.32 kmpl,1582 CC,126.3 bhp,259.9Nm@ 1900-2750rpm,5.0
7677,2015,465000,63063,Petrol,Dealer,Automatic,First Owner,18.9 kmpl,1197 CC,82 bhp,114Nm@ 4000rpm,5.0
136,2017,6000000,37000,Diesel,Dealer,Automatic,First Owner,13.5 kmpl,2987 CC,254.79 bhp,620Nm@ 1600-2400rpm,5.0

In [161]:
import re # biblioteca pra ajudar no tratamento da variável torque, boa pra se manipular strings

# Transformar dados str → float
print(df['fuel'].unique())
print(df['seller_type'].unique())
print(df['transmission'].unique())
print(df['owner'].unique())

df['fuel'] = df['fuel'].map({'Petrol': 0, 'Diesel': 1, 'LPG': 2, 'CNG': 3})
# LPG (Liquefied Petroleum Gas)
# CNG (Compressed Natural Gas):

df['seller_type'] = df['seller_type'].map({'Individual': 0, 'Dealer': 1, 'Trustmark Dealer': 2})
# Individual: vendedores particulares ou proprietários individuais que estão vendendo seus veículos, sem envolver empresas ou concessionárias
# Dealer: o veículo está sendo vendido por uma concessionária ou revendedor
# Trustmark Dealer: revendedor ou concessionária certificada, pela entidade TrustMark que garante que as empresas atendam aos padrões exigidos e se comprometam com um bom atendimento ao cliente

# VANTAGENS:
# Individual: Vendas diretas, geralmente mais baratas, mas com maior risco em termos de garantia e histórico do veículo.
# Dealer: Um intermediário confiável, mas pode ter custos adicionais.
# Trustmark Dealer: Provavelmente a opção mais confiável, mas geralmente mais cara devido a certificações e garantias extras.

df['transmission'] = df['transmission'].map({'Manual': 0, 'Automatic': 1})

# número de donos anteriores
df['owner'] = df['owner'].map({'First Owner': 0, 'Second Owner': 1, 'Third Owner': 2, 'Fourth & Above Owner': 3, 'Test Drive Car': 4})
# 'Test Drive Car': carro zero km

df['mileage'] = df['mileage'].str.extract(r'(\d+\.?\d*)').astype(float)
# eficiência do carro quantos km ele faz por litro

df['engine'] = df['engine'].str.extract(r'(\d+\.?\d*)').astype(float)
# volume dos cilindros de um motor (cilindradas) em cc (centímetros cúbicos)

df['max_power'] = df['max_power'].str.extract(r'(\d+\.?\d*)').astype(float)
# potência do motor em bhp (cavalos-vapor), capacidade do motor de realizar trabalho

# convertendo valores q estejam em kgm (kilo metro) em nm@ (newton metro)
df['torque'] = df['torque'].apply(
    lambda x: float(re.sub(r'[^\d.]', '', x.split('kgm')[0].strip())) * 9.81 if 'kgm' in x 
    else float(re.sub(r'[^\d.]', '', x.split('Nm')[0].strip())) if 'Nm' in x 
    else None
)

# torque: força máxima que o motor exerce em nm@ 

df.head()

['Diesel' 'Petrol' 'CNG' 'LPG']
['Individual' 'Dealer' 'Trustmark Dealer']
['Manual' 'Automatic']
['First Owner' 'Second Owner' 'Third Owner' 'Fourth & Above Owner'
 'Test Drive Car']

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
669,2013,400000,90000,1,0,0,0,20.30,1248.0,92.000,209.0,5.0
1970,2017,625000,34000,1,0,1,0,22.00,1498.0,108.495,250.0,5.0
6756,2011,360000,157000,1,0,0,1,22.32,1582.0,126.300,259.9,5.0
7677,2015,465000,63063,0,1,1,0,18.90,1197.0,82.000,114.0,5.0
136,2017,6000000,37000,1,1,1,0,13.50,2987.0,254.790,620.0,5.0